@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.hero {
  width: 100%;
  padding-bottom: 30px;
  &Slider {
    &Item {
      border-radius: 10px;
      overflow: hidden;
      height: 0;
      position: relative;
      padding-bottom: 34.8%;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%);
        object-fit: cover;
      }
    }
  }
  &List {
    margin-top: 50px;
    img {
      border-radius: 10px;
      @include size(100%);
      object-fit: cover;
      transition: all 0.25s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
