@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.banner {
  padding-block: 10px;
  img {
    transition: opacity 0.25s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
