@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.banner {
  padding-top: 40px;
  padding-bottom: 60px;
  img {
    transition: opacity 0.25s ease;
    &:hover {
      opacity: 0.8;
    }
  }
}
