@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.table {
  &List {
    width: 100%;
    border-collapse: collapse;
    &Avatar {
      @include size(48px);
      object-fit: cover;
      &--rounded {
        border-radius: 8px;
      }
      &--circle {
        border-radius: 100rem;
      }
    }
    &Rank {
      border-radius: 8px;
      background-color: $secondary-color;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(20px);
      @include size(28px);
      color: $primary-color;
      font-size: 12px;
      font-weight: 700;
      line-height: calc(16 / 12);
      letter-spacing: -0.06px;
      flex-shrink: 0;
    }
    thead tr,
    tbody tr {
      display: grid;
      align-items: center;
      grid-gap: 20px;
    }
    &.threeColumns {
      thead tr,
      tbody tr {
        grid-template-columns: 2.5fr 1fr 1fr;
      }
    }
    &.twoColumns {
      thead tr,
      tbody tr {
        grid-template-columns: 2.5fr 1fr;
      }
    }
    thead th,
    tbody td {
      text-align: left;
    }
    thead {
      margin-bottom: 10px;
      display: block;
      tr {
        th {
          color: #5b5f97;
          font-size: 12px;
          font-weight: 500;
          line-height: calc(16 / 12);
          letter-spacing: -0.06px;
          padding: 0 12px;
        }
      }
    }
    tbody {
      tr {
        transition: all 0.2s linear;
        background-color: $light-color;
        border-radius: 10px;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        td {
          color: #5b5f97;
          font-size: 16px;
          font-weight: 500;
          line-height: calc(24 / 16);
          letter-spacing: -0.16px;
          padding: 14px 12px;
          display: flex;
          align-items: center;
          gap: 16px;
        }
        @media (hover: hover) {
          &:hover {
            background-color: $secondary-color;
          }
          &:hover td {
            color: $primary-color;
          }
          &:hover .tableListRank {
            background: $light-color;
            transition: background 0.2s linear;
          }
          &:hover .table-list__package--vip,
          &:hover .table-list__package--normal {
            background: transparent;
          }
        }
      }
    }
  }
  @include maxWidth(599px) {
    &List {
      &Avatar {
        margin-right: auto;
      }
      &Rank {
        display: none;
      }

      thead {
        display: none;
      }
      tbody,
      tbody tr,
      tbody td {
        display: block;
      }
      tbody {
        tr {
          background-color: #f5f2f2;
          &:before {
            content: attr(data-label);
            font-weight: bold;
            background: $primary-color;
            color: $light-color;
            font-size: 14px;
            @include size(28px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
          }
          &:not(:nth-child(9999)) {
            margin-bottom: 1.5rem;
          }
          td {
            &:before {
              content: attr(data-label);
              float: left;
              font-weight: bold;
            }
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 0;
          }
        }
      }
    }
  }
}
