@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: $dark-color;
}
::selection {
  background-color: $primary-color;
  color: $light-color;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
ul {
  list-style: none;
  padding-left: unset;
}
.container {
  max-width: 1296px + 24;
  padding: 0 12px;
  margin: 0 auto;
  @include maxWidth(1439px) {
    max-width: 1100px;
  }
}
.logo {
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-decoration: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      @include size(100%);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.7),
        transparent
      );
      transform: skewX(-25deg);
      animation: lightRay 5s infinite;
    }
    @keyframes lightRay {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
}
.box-content {
  border-radius: 16px;
  background-color: #fffffb;
  box-shadow: 0px 0px 32px 0px rgba(162, 173, 185, 0.2);
  padding: clamp(0.938rem, -1.071rem + 5.357vw, 1.5rem);
  @include maxWidth(424px) {
    border-radius: unset;
    background-color: unset;
    box-shadow: unset;
    padding: 5px;
  }
}
.read-more {
  color: $primary-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: calc(20 / 14);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: color 0.2s ease-in;
  flex-shrink: 0;
  &:hover {
    color: #c64e4f;
  }
}
.title {
  color: $dark-color;
  font-size: clamp(1.125rem, 0.97rem + 0.583vw, 1.25rem);
  font-weight: 600;
  line-height: calc(28 / 20);
  letter-spacing: -0.2px;
}
.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  @include maxWidth(991px) {
    display: unset;
  }
}
.homepage-readmore {
  color: #be232b;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: clamp(0.938rem, -0.999rem + 7.289vw, 2.5rem);
  text-decoration: none;
  padding: 12px 24px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  transition: all 0.3s ease;
  border-radius: 100rem;
  &:hover {
    color: $light-color;
    background-color: $primary-color;
    img {
      filter: brightness(0) invert(1);
    }
  }
}