@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: $primary-text;
}
html {
  -webkit-text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  line-height: 0;
  touch-action: manipulation;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  transition: all 0.25s ease;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::selection {
  background-color: $primary-color;
  color: $light-color;
}
.no-scroll {
  overflow-y: hidden;
}
