@mixin size($w, $h: $w) {
   width: $w;
   height: $h;
 }
 
 @mixin lineClamp($lc: 1) {
   display: -webkit-box;
   -webkit-line-clamp: $lc;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
   word-break: break-word;
 }
 
 @mixin blockCenter($set: "left") {
   position: absolute;
   @if $set == "left" {
     left: 50%;
     transform: translateX(-50%);
   }
   @if $set == "top" {
     top: 50%;
     transform: translateY(-50%);
   }
   @if $set == "both" {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
 }
 
 // Responsive screen PC Mobile
 @mixin maxWidth($breakpoint) {
   @media only screen and (max-width: $breakpoint) {
     @content;
   }
 }
 
 @mixin minWidth($breakpoint) {
   @media only screen and (min-width: $breakpoint) {
     @content;
   }
 }
 
 @mixin minMaxWidth($min, $max) {
   @media only screen and (min-width: $min) and (max-width: $max) {
     @content;
   }
 }