.category {
  margin-top: clamp(2.5rem, 1.18rem + 4.225vw, 6.25rem);
  &-list {
    margin-top: clamp(1.25rem, 0.282rem + 3.099vw, 2.5rem);
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__image {
      @include size(clamp(4.688rem, 3.681rem + 3.79vw, 5.5rem));
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 100rem;
      border: 1px solid #a2adb9;
    }
    &__content {
      margin-top: 8px;
      text-decoration: none;
      color: #606f80;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      transition: color 0.2s ease;
      h4 {
        text-align: center;
        font-size: clamp(0.875rem, 0.72rem + 0.583vw, 1rem);
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.16px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
      span {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.24px;
      }
    }
  }
}
