.experience {
  &-main {
    padding: clamp(3.125rem, -7.362rem + 16.387vw, 8rem) 36px;
    border-radius: clamp(1rem, -2.556rem + 7.407vw, 3rem);
    background-color: #ff6b6c;
    color: $light-color;
  }
  &-btn {
    color: #fffffb;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    border-radius: 8px;
    padding: 12px 24px;
    transition: opacity 0.2s ease;
    border: 1px solid transparent;
    outline: none;
    &:hover {
      opacity: 0.8;
    }
    &--first {
      background: #292f36;
    }
    &--second {
      background: $primary-color;
      border-color: $light-color;
    }
  }
}
