.faq {
  margin: clamp(5rem, -4rem + 18.75vw, 8rem) 0;
  &-accordion {
    margin-top: -20px;
    &-item {
      &:not(:last-child) {
        border-bottom: 1px solid #a2adb9;
      }
    }
    &-icon {
      border-radius: 100rem;
      color: $light-color;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      @include size(40px);
    }
    &-header {
      color: $dark-color;
      font-size: clamp(1.125rem, 0.97rem + 0.583vw, 1.25rem);
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: -0.2px;
      cursor: pointer;
      width: 100%;
      border: none;
      outline: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      gap: 20px;
      padding: 20px 0;
      transition: color 0.2s ease;
      &:hover {
        color: $primary-color;
      }
    }
    &-content {
      padding: 0 60px 40px 0;
      display: none;
      overflow: hidden;
      color: #57423f;
      font-size: clamp(0.875rem, 0.72rem + 0.583vw, 1rem);
      font-weight: 400;
      line-height: 24px;
    }
  }
}
