.footer {
  padding: clamp(4.25rem, 2.831rem + 5.342vw, 6.25rem) 0;
  &-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: clamp(1.875rem, -10.489rem + 19.318vw, 4rem);
    @include maxWidth(1023px) {
      grid-template-columns: 1fr 1fr;
    }
    @include maxWidth(767px) {
      grid-template-columns: 1fr;
    }
  }
  &-desc {
    color: #606f80;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-top: clamp(0.5rem, -2.688rem + 6.641vw, 1.563rem);
  }
  &-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: clamp(0.5rem, -0.254rem + 2.838vw, 1.2rem);
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    li,
    a {
      color: inherit;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      width: fit-content;
      a {
        text-decoration: none;
        transition: color 0.2s ease;
        display: inline-block;
        padding: 5px 0;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
