@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.badge {
  font-size: 12.8px;
  font-weight: 600;
  line-height: calc(16 / 12);
  padding: 5px;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.1s linear;
  &--vip {
    color: $primary-color;
    background: #ffebeb;
  }
  &--normal {
    background: #feefdd;
    color: #ffc145;
  }
}
