@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.topbar {
  background-color: #0068c8;
  padding: 10px 15px;
  &Contact {
    color: $light-color;
    display: flex;
    align-items: center;
    gap: 25px;
    &Link {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $light-color;
      font-size: 14px;
      font-weight: 400;
      text-decoration: none;
      transition: opacity 0.25s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &Social {
    display: flex;
    align-items: center;
    gap: 18px;
    &Link {
      color: $light-color;
      font-size: 16px;
      transition: opacity 0.25s ease;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding-block: 30px;
  &Logo {
    overflow: hidden;
    position: relative;
    text-decoration: none;
    display: inline-block;
    max-width: clamp(9.375rem, 6.875rem + 3.906vw, 11.563rem);
    width: 100%;
    background-color: #1481e7;
    padding: 8px 10px;
    border-radius: 6px;
    img {
      width: 100%;
      height: auto;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      @include size(100%);
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.7),
        transparent
      );
      transform: skewX(-25deg);
      animation: lightRay 5s infinite;
    }
    @keyframes lightRay {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
  }
  &List {
    display: flex;
    align-items: center;
    gap: 14px;
    list-style: none;
    li {
      a {
        color: $primary-text;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
        transition: color 0.25s ease;
        width: 100%;
        display: block;
        padding: 10px;
        &:hover {
          color: $primary-color;
          text-decoration: urderline;
        }
        &.active {
          color: $primary-color;
          pointer-events: none;
        }
      }
    }
  }
  &Controls {
    display: flex;
    align-items: center;
    gap: 25px;
    &Search {
      &:hover {
        color: $primary-color;
        transition: color 0.25s ease;
      }
      i {
        font-size: 20px;
      }
    }
    &User {
      display: flex;
      align-items: center;
      gap: 6px;
      &:hover > * {
        color: $primary-color;
        transition: color 0.25s ease;
      }
      span {
        color: $primary-text;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
      i {
        font-size: 20px;
      }
    }
    &Cart {
      display: flex;
      align-items: center;
      gap: 6px;
      text-align: center;
      border-radius: 6px;
      border: 1.5px solid $primary-color;
      padding: 8px 10px;
      transition: all 0.25s ease;
      color: #0068c8;
      &:hover {
        background-color: $primary-color;
        color: $light-color;
      }
      span {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
      }
      i {
        font-size: 20px;
      }
    }
  }
}
// Search Modal
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #dadada;
  border-radius: 100rem;
  padding: 6px 6px 6px 14px;
  transition: all 0.25s ease;
  &:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(14, 110, 253, 0.25);
  }
  input {
    font-family: inherit;
    @include size(100%);
    border: none;
    outline: 0;
    color: $primary-text;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    &::placeholder {
      color: #c6c6c6;
    }
  }
  button {
    border-radius: 100rem;
    @include size(35px);
    background-color: #dadada;
    transition: opacity 0.1s ease;
    flex-shrink: 0;
    &:hover {
      opacity: 0.8;
    }
    i {
      color: $primary-text;
      font-size: 15px;
    }
  }
}
//  Cart Modal
.modal-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: clamp(18.75rem, 7.134rem + 43.732vw, 28.125rem);
  height: 100%;
  background-color: white;
  border-radius: 16px;
  z-index: 150;
  transform: translateX(100%);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  &.show {
    display: block;
    transform: translateX(0);
  }
  .header-notification {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    .caption {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: $primary-text;
    }
    img {
      width: 22px;
    }
  }
  .body-notification {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: calc(100% - 64px);
    overflow-y: auto;
    &__item {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      padding: 20px clamp(0.938rem, 0.241rem + 2.624vw, 1.5rem);
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgb(248, 174, 149, 0.4);
      }
      img {
        border-radius: 8px;
        object-fit: cover;
        @include size(48px);
        flex-shrink: 0;
      }
      &-content {
        .title {
          color: $primary-text;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
        }
        .time {
          color: #484848;
          font-size: 12.5px;
          font-weight: 400;
          line-height: 16px;
        }
        .desc {
          font-weight: 400;
          font-size: 12.5px;
          line-height: 19px;
          color: #484848;
          b {
            font-weight: 700;
          }
        }
        .btn-main,
        .btn-secondary {
          padding: 8px 12px;
          border-radius: 6px;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-align: center;
          display: inline-block;
        }
        .btn-main {
          background-color: #575fcc;
          color: $light-color;
        }
        .btn-secondary {
          color: $primary-color;
          background-color: #dae5fb;
        }
      }
    }
  }
}
// Reponsive All Screen
@include maxWidth(1199px) {
  .header {
    &List {
      gap: 6px;
      li a {
        padding: 8px;
      }
    }
    &Controls {
      gap: 18px;
    }
  }
}
@include maxWidth(1023px) {
  .header {
    &List {
      display: none;
    }
  }
}
@include maxWidth(767px) {
  .topbar{
    flex-direction: column;
  }
  .header {
    padding-block: 24px;
  }
}
@include maxWidth(424px) {
  .topbar{
    &Contact {
      display: none;
    }
  }
}
