@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.footer {
  padding-block: 30px;
  margin-block: 30px;
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  &Title {
    color: $primary-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &Desc {
    color: $primary-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  &Address {
    display: flex;
    flex-direction: column;
    gap: 8px;
    li,
    a {
      color: $primary-text;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
    li {
      a {
        transition: color 0.25s ease;
        &:hover {
          color: $primary-color;
          text-decoration: urderline;
        }
      }
    }
  }
  &ListTag,
  &ListSupport {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      a {
        color: $primary-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        transition: color 0.25s ease;
        width: 100%;
        display: block;
        &:hover {
          color: $primary-color;
          text-decoration: urderline;
        }
      }
    }
  }
  &ListSupport {
    list-style: disc;
    padding-left: 20px;
  }
  &Video {
    height: 0;
    position: relative;
    padding-bottom: 75%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%);
    }
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 30px;
  span {
    color: $primary-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  &Certification {
    max-width: 160px;
    transition: opacity 0.2s ease;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
    img {
      @include size(100%);
      object-fit: cover;
    }
  }
}
