<!-- Bootstrap Css -->
<link href="assets/css/bootstrap.min.css" class="theme-opt" rel="stylesheet" type="text/css" />

<!-- Thu viện Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Icons Css -->
<link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<!-- Style Css-->
<link href="assets/css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />