.card-item {
  border-radius: 16px;
  width: 100%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &--first {
    background-image: url('../../assets/images/card-item1.svg');
  }
  &--second {
    background-image: url('../../assets/images/card-item2.svg');
  }
  &--third {
    background-image: url('../../assets/images/card-item3.svg');
  }
  &--fourth {
    background-image: url('../../assets/images/card-item4.svg');
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    h2 {
      color: #fffffb;
      font-size: 20px;
      font-weight: 600;
      line-height: calc(28 / 20);
      letter-spacing: -0.2px;
    }
    &-btn {
      border-radius: 100rem;
      border: 1px solid #fffffb;
      @include size(48px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
      transition: opacity 0.1s linear;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
