.table-list {
  width: 100%;
  border-collapse: collapse;
  &__rank {
    border-radius: 8px;
    background-color: $secondary-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    @include size(28px);
    color: $primary-color;
    font-size: 12px;
    font-weight: 700;
    line-height: calc(16 / 12);
    letter-spacing: -0.06px;
    flex-shrink: 0;
  }
  &__image {
    @include size(48px);
    object-fit: cover;
    &--first {
      border-radius: 8px;
    }
    &--second {
      border-radius: 100rem;
    }
  }
  &__package {
    font-size: 12.8px;
    font-weight: 600;
    line-height: calc(16 / 12);
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.1s linear;
    &--vip {
      color: $primary-color;
      background: $secondary-color;
    }
    &--normal {
      background: #feefdd;
      color: #ffc145;
    }
  }
  thead tr,
  tbody tr {
    display: grid;
    align-items: center;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-gap: 20px;
  }
  thead th,
  tbody td {
    text-align: left;
  }
  thead {
    margin-bottom: 10px;
    display: block;
    tr {
      th {
        color: #5b5f97;
        font-size: 12px;
        font-weight: 500;
        line-height: calc(16 / 12);
        letter-spacing: -0.06px;
        padding: 0 12px;
      }
    }
  }
  tbody {
    tr {
      transition: all 0.2s linear;
      background-color: $light-color;
      border-radius: 10px;
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      td {
        color: #5b5f97;
        font-size: 16px;
        font-weight: 500;
        line-height: calc(24 / 16);
        letter-spacing: -0.16px;
        padding: 14px 12px;
        display: flex;
        align-items: center;
        gap: 16px;
      }
      @media (hover: hover) {
        &:hover {
          background-color: $secondary-color;
        }
        &:hover td {
          color: $primary-color;
        }
        &:hover .table-list__rank {
          background: $light-color;
          transition: background 0.2s linear;
        }
        &:hover .table-list__package--vip,
        &:hover .table-list__package--normal {
          background: transparent;
        }
      }
    }
  }
  @include maxWidth(599px) {
    thead {
      display: none;
    }
    tbody,
    tbody tr,
    tbody td {
      display: block;
    }
    tbody {
      tr {
        background-color: #f5f2f2;
        &:before {
          content: attr(data-label);
          font-weight: bold;
          background: $primary-color;
          color: $light-color;
          font-size: 14px;
          @include size(28px);
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
        }
        &:not(:nth-child(9999)) {
          margin-bottom: 1.5rem;
        }
        td {
          &:before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
          }
          justify-content: space-between;
          flex-wrap: wrap;
          gap: 0;
        }
      }
    }
    &__image {
      margin-right: auto;
    }
    &__rank {
      display: none;
    }
  }
}
