.sell {
  margin-top: clamp(5rem, -3.17rem + 12.766vw, 8rem);
  &-tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 25px;
    margin: 24px auto clamp(2.188rem, -5.472rem + 11.968vw, 5rem) auto;
    width: fit-content;
    span {
      color: #606f80;
      font-size: clamp(1.25rem, 0.569rem + 1.064vw, 1.5rem);
      font-weight: 600;
      line-height: 32px;
      user-select: none;
      cursor: pointer;
      &.active {
        color: $primary-color;
        pointer-events: none;
      }
    }
  }
  &-pane {
    --gap-item: 8px;
    display: none;
    margin: 0 calc(-1 * var(--gap-item));
    &.active {
      display: block;
    }
  }
  &-item {
    border-radius: 24px;
    box-shadow: 0px 4px 24px 0px rgba(162, 173, 185, 0.16);
    overflow: hidden;
    height: 0;
    position: relative;
    padding-bottom: 144%;
    margin: 0 var(--gap-item);
    &:hover &__content {
      background-color: #ffc145;
    }
    &:hover &__image {
      opacity: 0.8;
      transform: scale(1.1);
    }
    &__image,
    &__content {
      position: absolute;
      left: 0;
      width: 100%;
    }
    &__image {
      top: 0;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s ease;
    }
    &__content {
      padding: 0 clamp(0.938rem, -3.269rem + 4.808vw, 2.5rem);
      min-height: clamp(5rem, 1.205rem + 14.286vw, 6.563rem);
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      text-align: center;
      background-color: $primary-color;
      transition: background-color 0.2s ease;
      h2 a {
        color: #fffffb;
        font-size: clamp(1.031rem, 0.898rem + 0.502vw, 1.5rem);
        font-weight: 600;
        line-height: clamp(1.438rem, 0.071rem + 5.143vw, 2rem);
        text-decoration: none;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
      }
    }
  }
}
