@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.cardItem {
  border-radius: 16px;
  width: 100%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &First {
    background-image: url("../../../assets/images/card-item1.svg");
  }
  &Second {
    background-image: url("../../../assets/images/card-item2.svg");
  }
  &Third {
    background-image: url("../../../assets/images/card-item3.svg");
  }
  &Fourth {
    background-image: url("../../../assets/images/card-item4.svg");
  }
  &Content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    h2 {
      color: #fffffb;
      font-size: 20px;
      font-weight: 600;
      line-height: calc(28 / 20);
      letter-spacing: -0.2px;
    }
    &Btn {
      border-radius: 100rem;
      border: 1px solid #fffffb;
      @include size(48px);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.3);
      transition: opacity 0.1s linear;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
