@import "../../../../styles/mixins.scss";

.listProduct {
  padding-block: 48px;
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 30px;
  }
  @include maxWidth(767px) {
    padding-block: 30px;
  }
}
